{% extends 'base.html.twig' %}

{% block title %}Question index{% endblock %}

{% block body %}
    <h1>Question index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Intitule</th>
                <th>ImageName</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.intitule|u.truncate(50, '...') }}</td>
                <td>
                    {% if question.imageName is not null %}
                    <img src="{{ asset('images/question/' ~ question.imageName ) }}" alt="" class="img-list">
                    {% else %}
                    N/A
                    {% endif %}
                </td>
                <td>{{ question.updatedAt ? question.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_admin_question_show', {'id': question.id}) }}" class="btn btn-dark">show</a>
                    <a href="{{ path('app_admin_question_edit', {'id': question.id}) }}" class="btn btn-success">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune question</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_question_new') }}">Create new</a>
{% endblock %}
