{% extends 'base.html.twig' %}

{% block title %}Nouvelle question{% endblock %}

{% block body %}
    <h1>Nouvelle question</h1>

    {{ include('admin_question/_form.html.twig') }}

    <a href="{{ path('app_admin_question_index') }}" class="btn btn-dark">Retour</a>
{% endblock %}
