{% extends 'base.html.twig' %}

{% block title %}Question{% endblock %}

{% block body %}
    <h1>Question</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ question.id }}</td>
            </tr>
            <tr>
                <th>Intitule</th>
                <td>{{ question.intitule }}</td>
            </tr>
            <tr>
                <th>ImageName</th>
                <td>{{ question.imageName }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ question.updatedAt ? question.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_question_index') }}">back to list</a>

    <a href="{{ path('app_admin_question_edit', {'id': question.id}) }}">edit</a>

    {{ include('admin_question/_delete_form.html.twig') }}
{% endblock %}
