{% extends 'base.html.twig' %}

{% block title %}Nouvelle réponse{% endblock %}

{% block body %}
    <h1>Create Nouvelle réponse</h1>

    {{ include('admin_reponse/_form.html.twig') }}

    <a href="{{ path('app_admin_reponse_index') }}" class="btn btn-dark">Retour</a>
{% endblock %}
