{% extends 'base.html.twig' %}

{% block title %}Reponse{% endblock %}

{% block body %}
    <h1>Reponse</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reponse.id }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ reponse.text }}</td>
            </tr>
            <tr>
                <th>IsGood</th>
                <td>{{ reponse.isGood ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>ImageName</th>
                <td>{{ reponse.imageName }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ reponse.updatedAt ? reponse.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_reponse_index') }}">back to list</a>

    <a href="{{ path('app_admin_reponse_edit', {'id': reponse.id}) }}">edit</a>

    {{ include('admin_reponse/_delete_form.html.twig') }}
{% endblock %}
