{% macro renderQuestionForm(form) %}
{# {{ form_widget(form)}} #}

{{ form_row( form.intitule)}}
{{ form_row( form.imageFile)}}
<div class="reponses row" data-index="{{ form.reponses|length > 0 ? form.reponses|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.reponses.vars.prototype)|e('html_attr') }}"></div>
<button type="button" class="add_item_link btn btn-primary" data-collection-holder-class="reponses">Ajouter une réponse</button>
{% endmacro %}


{% import _self as myMacro %}




{{ form_start(form) }}
    {# {{ form_widget(form) }} #}
    {{ form_row(form.nom) }}
    {{ form_row(form.description) }}
    {{ form_row(form.imageFile) }}
    <ul class="questions"
    data-index="{{ form.questions|length > 0 ? form.questions|last.vars.name + 1 : 0 }}"
    data-prototype="{{ myMacro.renderQuestionForm(form.questions.vars.prototype)|e('html_attr') }}"
    ></ul>
    <div>
    <button type="button" class="add_item_link btn btn-primary" data-collection-holder-class="questions">Ajouter une question</button>
    </div>

    <button class="btn btn-success my-4">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
