{% extends 'base.html.twig' %}

{% block title %}Quiz index{% endblock %}

{% block body %}
    <h1>Quiz index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>ImageName</th>
                <th>UpdatedAt</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for quiz in quizzes %}
            <tr>
                <td>{{ quiz.id }}</td>
                <td>{{ quiz.nom }}</td>
                <td>{{ quiz.description }}</td>
                <td>
                    {% if quiz.imageName is not null %}
                    <img src="{{ asset('images/quiz/' ~ quiz.imageName ) }}" alt="" class="img-list">
                    {% else %}
                    N/A
                    {% endif %}
                </td>
                <td>{{ quiz.updatedAt ? quiz.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_admin_quiz_show', {'id': quiz.id}) }}">show</a>
                    <a href="{{ path('app_admin_quiz_edit', {'id': quiz.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_quiz_new') }}">Create new</a>
{% endblock %}
