{% extends 'base.html.twig' %}

{% block title %}Nouveau Quiz{% endblock %}

{% block body %}
    <h1>Nouveau Quiz</h1>

    {{ include('admin_quiz/_form.html.twig') }}

    <a href="{{ path('app_admin_quiz_index') }}" class="btn btn-dark">Retour</a>
{% endblock %}

{% block javascripts %}
<script>
    const addFormToCollection = (e) => {
        const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);
        let item;
        if(e.currentTarget.dataset.collectionHolderClass == "reponses"){
            item = document.createElement('div');
            item.classList.add('col-3');
        }else{
            item = document.createElement('li');
        }
        item.innerHTML = collectionHolder
            .dataset
            .prototype
            .replace(
                /__name__/g,
                collectionHolder.dataset.index
            );
        
        collectionHolder.appendChild(item);
        collectionHolder.dataset.index++;
        initAddButtons();
    };

    function initAddButtons(){
        document
            .querySelectorAll('.add_item_link')
            .forEach(btn => {
                btn.addEventListener("click", addFormToCollection)
            });
    }
    initAddButtons();
</script>
{% endblock %}
