{% extends 'base.html.twig' %}

{% block title %}Quiz{% endblock %}

{% block body %}
    <h1>Quiz</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ quiz.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ quiz.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ quiz.description }}</td>
            </tr>
            <tr>
                <th>ImageName</th>
                <td>{{ quiz.imageName }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ quiz.updatedAt ? quiz.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_quiz_index') }}">back to list</a>

    <a href="{{ path('app_admin_quiz_edit', {'id': quiz.id}) }}">edit</a>

    {{ include('admin_quiz/_delete_form.html.twig') }}
{% endblock %}
